#blk{
    text-align: center
}

#goo{
    background-color: aqua;
    font-size: 100%
}

#gee{
    background-color: bisque;
    font-size: 100%
}

#gtt{ 
    background-color: burlywood;
    font-size: 100%
}