.gumba{
    border: round,wheat;
    width: 90%;
    height: 400px;
    background-image: https://www.thinkgeek.com/images/products/additional/large/jino_super_marion_level_1_poster_set3.jpg;
    
}
#g1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}